* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Dashboard {
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

.btn-premium {
  float: right;
  color: #6741d9;
  background-color: #fff;
  padding: 4px 10px;
  border: none;
  font-weight: 700;
  margin-right: 40px;
  cursor: pointer;
  border-radius: 20px;
}

.Dashboard__header {
  height: 65px;
  background-color: #6741d9;
  color: #fff;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.Dashboard-container {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.Dashboard__user-info {
  max-height: 700px;
  background-color: #fff;
  width: 400px;
  box-shadow: 5px 5px 25px 3px rgba(103, 65, 217, 0.15);
  border-radius: 2px;
  text-align: center;
  padding: 20px;
  margin-top: 70px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Dashboard__user-info h3 {
  color: #fff;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.personal h3 {
  background-color: #6741d9;
}

.parcels h3 {
  background-color: #000;
  cursor: pointer;
}

.parcels h3:hover {
  background-color: rgba(0, 0, 0, 0.63);
}

.Dashboard__user-info--fielContainer {
  padding-top: 5px;
  padding-bottom: 5px;
}

.Dashboard__user-info--fieldName {
  text-transform: uppercase;
  font-weight: 700;
  color: #6741d9;
  text-align: left;
}

.Dashboard__user-info--fieldValue {
  text-align: left;
}

.Parcel-form-container form {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.Parcel-form-container form label.field {
  display: block;
  text-align: left;
  font-weight: 600;
}

.Parcel-form-container form input.field {
  width: 100%;
  text-align: left;
  height: 30px;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.Parcel-form-container form input.field:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.Parcel-form-container button,
.btn {
  border: none;
  margin-top: 20px;
  padding: 10px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #6741d9;
}

.btn-delete {
  width: 160px;
  background-color: #fff;
  border: 2px solid rgb(216, 15, 15);
  color: rgb(216, 15, 15);
}

.btn-delete:hover {
  background-color: rgb(216, 15, 15);
  border: 2px solid #fff;
  color: #fff;
}
