* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Signup {
  position: relative;
  font-family: 'Lato', sans-serif;
}

.Signup-photos-container {
  width: 900px;
  height: 100vh;
  position: relative;
  background-color: #fff;
  border-left: 50px solid #6741d9;
}

.Signup-photos-container img {
  height: 300px;
  position: absolute;
}

.Signup-form-container {
  position: absolute;
  background-color: #fff;
  right: 20%;
  top: 15%;
  /* height: 450px; */
  width: 350px;
  /* background-color: blue; */
  box-shadow: 5px 5px 25px 3px rgba(0, 0, 0, 0.15);
  padding: 20px;
  z-index: 20;
}

.Signup-form-container form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Signup-form-container form h2 {
  text-align: center;
  /* margin-bottom: 40px; */
  font-size: 28px;
  color: #6741d9;
}

.Signup-form-container form label.field {
  display: block;
  font-weight: 600;
}

.Signup-form-container form input.field {
  width: 100%;
  text-align: center;
  height: 30px;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.Signup-form-container form input.field:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.Signup-form-container [type='radio'] {
  margin-right: 10px;
}

.Signup-form-container .radio-btn {
  margin-bottom: 6px;
}

.Signup-form-container button {
  border: none;
  margin-top: 20px;
  padding: 10px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  background-color: #6741d9;
}

.Signup-form-container .disabled {
  color: #6741d9;
  border: 2px solid #6741d9;
  background-color: #fff;
  cursor: not-allowed;
}

.Signup-choice {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 25px 0;
}

.Signup-choice button {
  flex-basis: 100px;
}

.photo-1 {
  left: 50px;
  top: 20px;
}

.photo-2 {
  right: 50px;
  top: 280px;
}

.photo-3 {
  left: 50px;
  top: 520px;
}

.photo-4 {
  right: 50px;
  top: 800px;
}
